body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 8px;
  display: block;
}

.headings{
  text-align: center;
  color: red;
}

li {
  list-style-type: none;
}

nav {
  text-align: right;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#mainHeading {
  color: red;
}